In [122]:
import pandas as pd

#### 1. 선박 위치에서 가장 가까운 관측소 매칭 데이터(nearest_obs), 관측소 시간별 해양기상데이터 (weather_obs) 불러오기

In [169]:
nearest_obs = pd.read_csv('./ModelingDataset/nearestObs.csv',sep=',', encoding = 'cp949',  index_col = 0)
weather_obs = pd.read_csv('./ModelingDataset/weather.csv', sep=',' , encoding = 'cp949',  index_col = 0)

#### 2. 선박 위치에서 가장 가까운 관측소 매칭 데이터(nearest_obs) 전처리

**2-1) nearest_obs 확인**

In [170]:
nearest_obs

,insertTime,mmsi,speed,shipLat,shipLon,geometry,nearestObs
0,2022-11-30 16:33,371369000,17.1,37.264305,126.245270,POINT (37.26430511 126.2452698),덕적도
1,2022-11-30 16:33,440022920,0.0,37.452236,126.610077,POINT (37.45223618 126.6100769),인천
2,2022-11-30 16:33,235086166,9.7,37.004253,126.162865,POINT (37.00425339 126.1628647),태안
3,2022-11-30 16:33,440022920,0.0,37.452225,126.610084,POINT (37.45222473 126.6100845),인천
4,2022-11-30 16:33,441103000,5.3,37.327690,126.510292,POINT (37.32769012 126.5102921),인천송도
...,...,...,...,...,...,...,...
311141,2022-12-30 0:50,538010048,2.8,37.339527,126.634224,POINT (37.33952713 126.6342239),인천송도
311142,2022-12-30 0:50,441174000,11.7,37.188816,126.381103,POINT (37.18881607 126.3811035),영흥도
311143,2022-12-30 0:50,538007487,14.6,37.330166,126.456902,POINT (37.33016586 126.4569016),영흥도
311144,2022-12-30 0:50,538010048,2.8,37.339565,126.415787,POINT (37.33956528 126.4157867),영흥도
311145,2022-12-30 0:50,440017180,0.0,37.482044,126.398361,POINT (37.48204422 126.3983612),인천

**2-3) 'insertTime'컬럼 데이터타입 바꿔주기**

- object to datetime

In [171]:
nearest_obs['insertTime'] = pd.to_datetime(nearest_obs['insertTime'])
nearest_obs

,insertTime,mmsi,speed,shipLat,shipLon,geometry,nearestObs
0,2022-11-30 16:33:00,371369000,17.1,37.264305,126.245270,POINT (37.26430511 126.2452698),덕적도
1,2022-11-30 16:33:00,440022920,0.0,37.452236,126.610077,POINT (37.45223618 126.6100769),인천
2,2022-11-30 16:33:00,235086166,9.7,37.004253,126.162865,POINT (37.00425339 126.1628647),태안
3,2022-11-30 16:33:00,440022920,0.0,37.452225,126.610084,POINT (37.45222473 126.6100845),인천
4,2022-11-30 16:33:00,441103000,5.3,37.327690,126.510292,POINT (37.32769012 126.5102921),인천송도
...,...,...,...,...,...,...,...
311141,2022-12-30 00:50:00,538010048,2.8,37.339527,126.634224,POINT (37.33952713 126.6342239),인천송도
311142,2022-12-30 00:50:00,441174000,11.7,37.188816,126.381103,POINT (37.18881607 126.3811035),영흥도
311143,2022-12-30 00:50:00,538007487,14.6,37.330166,126.456902,POINT (37.33016586 126.4569016),영흥도
311144,2022-12-30 00:50:00,538010048,2.8,37.339565,126.415787,POINT (37.33956528 126.4157867),영흥도
311145,2022-12-30 00:50:00,440017180,0.0,37.482044,126.398361,POINT (37.48204422 126.3983612),인천

#### 3. 관측소 시간별 해양기상데이터 (weather_obs) 전처리

**3-1) weather_obs 확인**

In [172]:
weather_obs

,관측소명,관측시간,위도,경도,조위(cm),풍속(m/s),풍향(deg),기온(℃),기압(hPa)
0,인천송도,2022-11-30 00:01:00,37.338056,126.586111,497.0,10.6,332.0,0.2,1026.9
1,인천송도,2022-11-30 00:02:00,37.338056,126.586111,496.0,9.4,335.0,0.3,1026.7
2,인천송도,2022-11-30 00:03:00,37.338056,126.586111,495.0,9.8,336.0,0.1,1027.0
3,인천송도,2022-11-30 00:04:00,37.338056,126.586111,490.0,8.7,340.0,-0.1,1027.0
4,인천송도,2022-11-30 00:05:00,37.338056,126.586111,490.0,9.3,341.0,-0.1,1027.0
...,...,...,...,...,...,...,...,...,...
270136,덕적도,2022-12-30 23:55:00,37.226333,126.156556,563.0,0.9,327.0,-2.3,1031.7
270137,덕적도,2022-12-30 23:56:00,37.226333,126.156556,561.0,1.0,312.0,-2.2,1031.8
270138,덕적도,2022-12-30 23:57:00,37.226333,126.156556,559.0,1.3,301.0,-2.2,1031.8
270139,덕적도,2022-12-30 23:58:00,37.226333,126.156556,558.0,1.4,304.0,-2.3,1031.8
270140,덕적도,2022-12-30 23:59:00,37.226333,126.156556,556.0,1.6,303.0,-2.4,1031.8

**3-2) '관측시간'컬럼 데이터타입 바꿔주기**

- object to datetime

In [173]:
weather_obs['관측시간'] = pd.to_datetime(weather_obs['관측시간'])

#### 4. dataFrame left join 시키기

- weather_nearest_obs = pd.merge(nearest_obs, weather_obs, ...)
- left_on = ('nearestObs','insertTime'), right_on = ('관측소명','관측시간')  # 키값
- how = 'inner'  # join 형태 정하기
- indicator = True  # 해당 컬럼의 값이 어느 데이터프레임을 반영했는지

In [174]:
weather_nearest_obs = pd.merge(nearest_obs, weather_obs, left_on = ('nearestObs','insertTime'), right_on = ('관측소명','관측시간'), how = 'inner', indicator = True)
weather_nearest_obs

,insertTime,mmsi,speed,shipLat,shipLon,geometry,nearestObs,관측소명,관측시간,위도,경도,조위(cm),풍속(m/s),풍향(deg),기온(℃),기압(hPa),_merge
0,2022-11-30 16:33:00,371369000,17.100000,37.264305,126.245270,POINT (37.26430511 126.2452698),덕적도,덕적도,2022-11-30 16:33:00,37.226333,126.156556,176.0,2.6,310.0,-3.1,1032.6,both
1,2022-11-30 16:33:00,371369000,17.100000,37.262604,126.244003,POINT (37.26260376 126.2440033),덕적도,덕적도,2022-11-30 16:33:00,37.226333,126.156556,176.0,2.6,310.0,-3.1,1032.6,both
2,2022-11-30 16:33:00,371369000,17.400000,37.237846,126.226547,POINT (37.23784637 126.2265472),덕적도,덕적도,2022-11-30 16:33:00,37.226333,126.156556,176.0,2.6,310.0,-3.1,1032.6,both
3,2022-11-30 16:33:00,371369000,17.299999,37.211826,126.208168,POINT (37.21182632 126.208168),덕적도,덕적도,2022-11-30 16:33:00,37.226333,126.156556,176.0,2.6,310.0,-3.1,1032.6,both
4,2022-11-30 16:33:00,538005898,11.800000,37.095108,126.287605,POINT (37.09510803 126.2876053),덕적도,덕적도,2022-11-30 16:33:00,37.226333,126.156556,176.0,2.6,310.0,-3.1,1032.6,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308174,2022-12-30 00:50:00,538010048,2.800000,37.339527,126.634224,POINT (37.33952713 126.6342239),인천송도,인천송도,2022-12-30 00:50:00,37.338056,126.586111,467.0,2.5,72.0,-0.9,1031.6,both
308175,2022-12-30 00:50:00,440061040,0.000000,37.561195,126.596550,POINT (37.56119537 126.59655),인천,인천,2022-12-30 00:50:00,37.451944,126.592222,473.0,1.8,139.0,-0.3,1031.6,both
308176,2022-12-30 00:50:00,440192230,2.000000,37.496353,126.623413,POINT (37.49635315 126.6234131),인천,인천,2022-12-30 00:50:00,37.451944,126.592222,473.0,1.8,139.0,-0.3,1031.6,both
308177,2022-12-30 00:50:00,538009716,11.800000,37.445282,126.577316,POINT (37.44528198 126.5773163),인천,인천,2022-12-30 00:50:00,37.451944,126.592222,473.0,1.8,139.0,-0.3,1031.6,both
308178,2022-12-30 00:50:00,440017180,0.000000,37.482044,126.398361,POINT (37.48204422 126.3983612),인천,인천,2022-12-30 00:50:00,37.451944,126.592222,473.0,1.8,139.0,-0.3,1031.6,both

In [175]:
weather_nearest_obs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308179 entries, 0 to 308178
Data columns (total 17 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   insertTime  308179 non-null  datetime64[ns]
 1   mmsi        308179 non-null  int64
 2   speed       308179 non-null  float64
 3   shipLat     308179 non-null  float64
 4   shipLon     308179 non-null  float64
 5   geometry    308179 non-null  object
 6   nearestObs  308179 non-null  object
 7   관측소명        308179 non-null  object
 8   관측시간        308179 non-null  datetime64[ns]
 9   위도          308179 non-null  float64
 10  경도          308179 non-null  float64
 11  조위(cm)      308179 non-null  float64
 12  풍속(m/s)     308179 non-null  float64
 13  풍향(deg)     308179 non-null  float64
 14  기온(℃)       308179 non-null  float64
 15  기압(hPa)     308179 non-null  float64
 16  _merge      308179 non-null  category
dtypes: category(1), datetime64[ns](2), float64(10), int64(1), object(3)
memory usage: 40.3+ MB

#### 5. join된 데이터프레임에서 필요없는 컬럼 drop

In [176]:
weather_nearest_result = weather_nearest_obs.drop(['geometry','nearestObs','관측시간','위도','경도','_merge'], axis = 1)

In [177]:
weather_nearest_result

,insertTime,mmsi,speed,shipLat,shipLon,관측소명,조위(cm),풍속(m/s),풍향(deg),기온(℃),기압(hPa)
0,2022-11-30 16:33:00,371369000,17.100000,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6
1,2022-11-30 16:33:00,371369000,17.100000,37.262604,126.244003,덕적도,176.0,2.6,310.0,-3.1,1032.6
2,2022-11-30 16:33:00,371369000,17.400000,37.237846,126.226547,덕적도,176.0,2.6,310.0,-3.1,1032.6
3,2022-11-30 16:33:00,371369000,17.299999,37.211826,126.208168,덕적도,176.0,2.6,310.0,-3.1,1032.6
4,2022-11-30 16:33:00,538005898,11.800000,37.095108,126.287605,덕적도,176.0,2.6,310.0,-3.1,1032.6
...,...,...,...,...,...,...,...,...,...,...,...
308174,2022-12-30 00:50:00,538010048,2.800000,37.339527,126.634224,인천송도,467.0,2.5,72.0,-0.9,1031.6
308175,2022-12-30 00:50:00,440061040,0.000000,37.561195,126.596550,인천,473.0,1.8,139.0,-0.3,1031.6
308176,2022-12-30 00:50:00,440192230,2.000000,37.496353,126.623413,인천,473.0,1.8,139.0,-0.3,1031.6
308177,2022-12-30 00:50:00,538009716,11.800000,37.445282,126.577316,인천,473.0,1.8,139.0,-0.3,1031.6
308178,2022-12-30 00:50:00,440017180,0.000000,37.482044,126.398361,인천,473.0,1.8,139.0,-0.3,1031.6

In [178]:
weather_nearest_result.columns = ['insertTime', 'mmsi', 'speed', 'shipLat', 'shipLon', 'obsName', 'tideLevel', 'windSpeed', 'windDirec', 'temp', 'pressure']
weather_nearest_result

,insertTime,mmsi,speed,shipLat,shipLon,obsName,tideLevel,windSpeed,windDirec,temp,pressure
0,2022-11-30 16:33:00,371369000,17.100000,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6
1,2022-11-30 16:33:00,371369000,17.100000,37.262604,126.244003,덕적도,176.0,2.6,310.0,-3.1,1032.6
2,2022-11-30 16:33:00,371369000,17.400000,37.237846,126.226547,덕적도,176.0,2.6,310.0,-3.1,1032.6
3,2022-11-30 16:33:00,371369000,17.299999,37.211826,126.208168,덕적도,176.0,2.6,310.0,-3.1,1032.6
4,2022-11-30 16:33:00,538005898,11.800000,37.095108,126.287605,덕적도,176.0,2.6,310.0,-3.1,1032.6
...,...,...,...,...,...,...,...,...,...,...,...
308174,2022-12-30 00:50:00,538010048,2.800000,37.339527,126.634224,인천송도,467.0,2.5,72.0,-0.9,1031.6
308175,2022-12-30 00:50:00,440061040,0.000000,37.561195,126.596550,인천,473.0,1.8,139.0,-0.3,1031.6
308176,2022-12-30 00:50:00,440192230,2.000000,37.496353,126.623413,인천,473.0,1.8,139.0,-0.3,1031.6
308177,2022-12-30 00:50:00,538009716,11.800000,37.445282,126.577316,인천,473.0,1.8,139.0,-0.3,1031.6
308178,2022-12-30 00:50:00,440017180,0.000000,37.482044,126.398361,인천,473.0,1.8,139.0,-0.3,1031.6

#### 6. 입출항 데이터와 합치기 위해 MMSI 타입을 object로 통일시킨다
- 실제 도착시간, 선박용도, 총톤수, 전출항지를 학습데이터셋 feature로 만들기 위해서 합쳐야함

In [179]:
weather_nearest_result['mmsi'] = weather_nearest_result['mmsi'].astype(str)

#### 7. 선박용도, 전출항지, 총톤수, 전출항지 연결(from portmis, mmsi)

In [185]:
portmis = pd.read_csv('./ModelingDataset/portmis.csv',sep=',', encoding = 'cp949',  index_col = 0)

In [192]:
portmis['mmsi'] = portmis['mmsi'].astype(int)

In [193]:
portmis

,항명,호출부호,mmsi,선명,구분,외내,입출,총톤수,입항일시,출항일시,전출항지,선박용도
0,인천,3FDX9,371369000,POS BANGKOK,최종,외항,입항,"18,085",2022-11-30 00:36,2022-11-30 13:54,SHANTOU,풀컨테이너선
1,인천,D7SK,441791000,코리아비너스,최종,내항,입항,"29,543",2022-11-30 08:55,2022-12-01 08:55,여수,석유제품 운반선
2,인천,DSPF9,440918000,BONANZA,최종,외항,입항,"3,690",2022-11-30 12:50,2022-12-01 06:10,대산,케미칼 운반선
3,인천,C6TM5,311697000,MORNING CALM,최종,외항,입항,"57,692",2022-11-30 14:05,2022-12-04 10:40,QINGDAO,자동차운반선
4,인천,DSME,440432000,우림 7,최종,내항,입항,"8,072",2022-11-30 16:05,2022-12-01 14:25,울산,석유제품 운반선
...,...,...,...,...,...,...,...,...,...,...,...,...
892,인천,V7A4986,538009640,KOBE TRADER,최종,외항,입항,"9,944",2022-12-30 19:00,2022-12-31 07:00,SHANTOU,풀컨테이너선
893,인천,5LDT2,636021396,ZIM AUSTRALIA,최종,외항,입항,"10,308",2022-12-30 19:12,2022-12-31 06:06,부산,풀컨테이너선
894,인천,130081,440061040,은성호,최종,내항,입항,321,2022-12-30 20:50,2022-12-31 14:05,대산,석유제품 운반선
895,인천,D7QA,440525000,거제 코델리아,최종,내항,입항,"8,689",2022-12-30 21:00,2022-12-31 10:40,대산,석유제품 운반선
896,인천,9HA5618,229869000,PS AMALFI,최종,외항,입항,"60,185",2022-12-30 21:15,2023-01-01 13:12,HONG KONG,석유제품 운반선

#### 8. portmis 데이터프레임에서 필요없는 컬럼 drop

In [194]:
dt_portmis = portmis.drop(['항명','호출부호', '선명', '구분', '외내', '입출', '출항일시'], axis = 1)
dt_portmis

          mmsi     총톤수              입항일시       전출항지      선박용도
0    371369000  18,085  2022-11-30 00:36    SHANTOU    풀컨테이너선
1    441791000  29,543  2022-11-30 08:55         여수  석유제품 운반선
2    440918000   3,690  2022-11-30 12:50         대산   케미칼 운반선
3    311697000  57,692  2022-11-30 14:05    QINGDAO    자동차운반선
4    440432000   8,072  2022-11-30 16:05         울산  석유제품 운반선
..         ...     ...               ...        ...       ...
892  538009640   9,944  2022-12-30 19:00    SHANTOU    풀컨테이너선
893  636021396  10,308  2022-12-30 19:12         부산    풀컨테이너선
894  440061040     321  2022-12-30 20:50         대산  석유제품 운반선
895  440525000   8,689  2022-12-30 21:00         대산  석유제품 운반선
896  229869000  60,185  2022-12-30 21:15  HONG KONG  석유제품 운반선

[897 rows x 5 columns]

#### 9. dt_portmis 컬럼명 변경

In [195]:
dt_portmis.columns = ['mmsi', 'totalWeight', 'arrivalTime', 'depart', 'shipUse']

#### 9-1) 'mmsi'컬럼 데이터타입 바꿔주기 # join 하려면 str타입이 필요
- int to str

In [196]:
dt_portmis['mmsi'] = dt_portmis['mmsi'].astype(str)

In [197]:
dt_portmis.head()

        mmsi totalWeight       arrivalTime   depart   shipUse
0  371369000      18,085  2022-11-30 00:36  SHANTOU    풀컨테이너선
1  441791000      29,543  2022-11-30 08:55       여수  석유제품 운반선
2  440918000       3,690  2022-11-30 12:50       대산   케미칼 운반선
3  311697000      57,692  2022-11-30 14:05  QINGDAO    자동차운반선
4  440432000       8,072  2022-11-30 16:05       울산  석유제품 운반선

In [198]:
weather_nearest_result.head()

,insertTime,mmsi,speed,shipLat,shipLon,obsName,tideLevel,windSpeed,windDirec,temp,pressure
0,2022-11-30 16:33:00,371369000,17.100000,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6
1,2022-11-30 16:33:00,371369000,17.100000,37.262604,126.244003,덕적도,176.0,2.6,310.0,-3.1,1032.6
2,2022-11-30 16:33:00,371369000,17.400000,37.237846,126.226547,덕적도,176.0,2.6,310.0,-3.1,1032.6
3,2022-11-30 16:33:00,371369000,17.299999,37.211826,126.208168,덕적도,176.0,2.6,310.0,-3.1,1032.6
4,2022-11-30 16:33:00,538005898,11.800000,37.095108,126.287605,덕적도,176.0,2.6,310.0,-3.1,1032.6

#### 10. join한 데이터 프레임(weather_nearest_result, dt_portmis)

In [200]:
dt = pd.merge(weather_nearest_result, dt_portmis, on = ('mmsi'), how = 'inner', indicator = True)

In [201]:
dt

,insertTime,mmsi,speed,shipLat,shipLon,obsName,tideLevel,windSpeed,windDirec,temp,pressure,totalWeight,arrivalTime,depart,shipUse,_merge
0,2022-11-30 16:33:00,371369000,17.1,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-11-30 00:36,SHANTOU,풀컨테이너선,both
1,2022-11-30 16:33:00,371369000,17.1,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-12-15 07:05,SHANTOU,풀컨테이너선,both
2,2022-11-30 16:33:00,371369000,17.1,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-12-30 02:55,SHEKOU PT,풀컨테이너선,both
3,2022-11-30 16:33:00,371369000,17.1,37.262604,126.244003,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-11-30 00:36,SHANTOU,풀컨테이너선,both
4,2022-11-30 16:33:00,371369000,17.1,37.262604,126.244003,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-12-15 07:05,SHANTOU,풀컨테이너선,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207931,2022-12-30 00:48:00,441174000,11.7,37.185482,126.377480,영흥도,428.0,1.2,4.0,0.7,1030.9,"16,717",2022-12-30 02:45,HO CHI MINH CITY,풀컨테이너선,both
1207932,2022-12-30 00:48:00,441174000,11.8,37.185902,126.377930,영흥도,428.0,1.2,4.0,0.7,1030.9,"16,717",2022-12-09 08:55,HO CHI MINH CITY,풀컨테이너선,both
1207933,2022-12-30 00:48:00,441174000,11.8,37.185902,126.377930,영흥도,428.0,1.2,4.0,0.7,1030.9,"16,717",2022-12-30 02:45,HO CHI MINH CITY,풀컨테이너선,both
1207934,2022-12-30 00:50:00,441174000,11.7,37.188816,126.381103,영흥도,424.0,1.1,3.0,0.7,1030.9,"16,717",2022-12-09 08:55,HO CHI MINH CITY,풀컨테이너선,both
1207935,2022-12-30 00:50:00,441174000,11.7,37.188816,126.381103,영흥도,424.0,1.1,3.0,0.7,1030.9,"16,717",2022-12-30 02:45,HO CHI MINH CITY,풀컨테이너선,both

In [202]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309076 entries, 0 to 309075
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   insertTime   308179 non-null  datetime64[ns]
 1   mmsi         309076 non-null  object
 2   speed        308179 non-null  float64
 3   shipLat      308179 non-null  float64
 4   shipLon      308179 non-null  float64
 5   obsName      308179 non-null  object
 6   tideLevel    308179 non-null  float64
 7   windSpeed    308179 non-null  float64
 8   windDirec    308179 non-null  float64
 9   temp         308179 non-null  float64
 10  pressure     308179 non-null  float64
 11  totalWeight  897 non-null     object
 12  arrivalTime  897 non-null     object
 13  depart       897 non-null     object
 14  shipUse      897 non-null     object
dtypes: datetime64[ns](1), float64(8), object(6)
memory usage: 37.7+ MB

#### 11. 입항일시(실제도착일시) 컬럼명 변경(from portmis, mmsi)

In [204]:
pd.to_datetime(dt['arrivalTime'])

0         2022-11-30 00:36:00
1         2022-12-15 07:05:00
2         2022-12-30 02:55:00
3         2022-11-30 00:36:00
4         2022-12-15 07:05:00
                  ...
1207931   2022-12-30 02:45:00
1207932   2022-12-09 08:55:00
1207933   2022-12-30 02:45:00
1207934   2022-12-09 08:55:00
1207935   2022-12-30 02:45:00
Name: arrivalTime, Length: 1207936, dtype: datetime64[ns]

In [205]:
dt

,insertTime,mmsi,speed,shipLat,shipLon,obsName,tideLevel,windSpeed,windDirec,temp,pressure,totalWeight,arrivalTime,depart,shipUse,_merge
0,2022-11-30 16:33:00,371369000,17.1,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-11-30 00:36,SHANTOU,풀컨테이너선,both
1,2022-11-30 16:33:00,371369000,17.1,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-12-15 07:05,SHANTOU,풀컨테이너선,both
2,2022-11-30 16:33:00,371369000,17.1,37.264305,126.245270,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-12-30 02:55,SHEKOU PT,풀컨테이너선,both
3,2022-11-30 16:33:00,371369000,17.1,37.262604,126.244003,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-11-30 00:36,SHANTOU,풀컨테이너선,both
4,2022-11-30 16:33:00,371369000,17.1,37.262604,126.244003,덕적도,176.0,2.6,310.0,-3.1,1032.6,"18,085",2022-12-15 07:05,SHANTOU,풀컨테이너선,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207931,2022-12-30 00:48:00,441174000,11.7,37.185482,126.377480,영흥도,428.0,1.2,4.0,0.7,1030.9,"16,717",2022-12-30 02:45,HO CHI MINH CITY,풀컨테이너선,both
1207932,2022-12-30 00:48:00,441174000,11.8,37.185902,126.377930,영흥도,428.0,1.2,4.0,0.7,1030.9,"16,717",2022-12-09 08:55,HO CHI MINH CITY,풀컨테이너선,both
1207933,2022-12-30 00:48:00,441174000,11.8,37.185902,126.377930,영흥도,428.0,1.2,4.0,0.7,1030.9,"16,717",2022-12-30 02:45,HO CHI MINH CITY,풀컨테이너선,both
1207934,2022-12-30 00:50:00,441174000,11.7,37.188816,126.381103,영흥도,424.0,1.1,3.0,0.7,1030.9,"16,717",2022-12-09 08:55,HO CHI MINH CITY,풀컨테이너선,both
1207935,2022-12-30 00:50:00,441174000,11.7,37.188816,126.381103,영흥도,424.0,1.1,3.0,0.7,1030.9,"16,717",2022-12-30 02:45,HO CHI MINH CITY,풀컨테이너선,both

#### 12. 실제도착일시(Target)컬럼을 가장 마지막컬럼으로 지정
데이터셋을 나누어 학습시킬 때 편의성을 위해서

In [206]:
dt = dt[['mmsi', 'insertTime', 'shipLat', 'shipLon', 'speed', 'obsName', 'tideLevel', 'windSpeed', 'windDirec', 'temp', 'pressure', 'totalWeight', 'depart', 'shipUse', 'arrivalTime']]

In [207]:
dt = dt.sort_values(by=['insertTime', 'mmsi','shipUse'], )

#### 12. 학습 dataset csv파일로 저장

In [208]:
dt.to_csv("C:/Users/user/Desktop/항만운영정보시스템data/ModelingDataset/dataset_final.csv", sep = ',',encoding = 'cp949')