In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df_portmis = pd.read_csv("C:/Users/user/Desktop/항만운영정보시스템data/real_raw/portmis(221130-221230).csv", encoding = 'cp949')

In [3]:
df_portmis

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,전출항지,선박용도
0,인천,751418,201해안호,2022,1,최초,내항,출항,163,2022-04-11 17:10,2022-12-25 07:10,기타항,견인용예선
1,인천,965128,한성9호,2022,1,최종,내항,출항,164,2022-10-07 06:50,2022-12-19 07:55,부산,석유제품 운반선
2,인천,970471,성신호,2022,25,최종,내항,출항,144,2022-10-07 13:00,2022-12-01 10:00,경인,원유운반선
3,인천,910116,협성T-2,2022,1,최종,내항,출항,74,2022-10-14 04:45,2022-12-26 05:45,부산,견인용예선
4,인천,151822,미래13호,2022,56,최종,내항,출항,"3,550",2022-10-30 05:35,2022-11-30 18:30,기타항,일반화물선
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197,인천,130081,은성호,2022,152,최종,내항,입항,321,2022-12-30 20:50,2022-12-31 14:05,대산,석유제품 운반선
2198,인천,D7QA,거제 코델리아,2022,128,최종,내항,입항,"8,689",2022-12-30 21:00,2022-12-31 10:40,대산,석유제품 운반선
2199,인천,9HA5618,PS AMALFI,2022,1,최종,외항,입항,"60,185",2022-12-30 21:15,2023-01-01 13:12,HONG KONG,석유제품 운반선
2200,인천,171825,백령 153호,2022,47,최종,내항,입항,368,2022-12-30 21:55,2023-01-05 13:25,기타항,일반화물선
2201,인천,870839,선화3호,2022,22,최종,내항,입항,91,2022-12-30 23:40,2023-01-15 06:00,기타항,견인용예선

### 선박용도 필터: 국제카페리, 여객선, 기타선 삭제

In [4]:
df_portmis['선박용도'].unique()

array(['견인용예선', '석유제품 운반선', '원유운반선', '일반화물선', '기타선', '여객선', '기타 예선',
       '기타 유조선', '산물선(벌크선)', '자동차운반선', '급유선', '관공선', 'LPG 운반선', '국제카페리',
       '풀컨테이너선', '세미(혼재)컨테이너선', '케미칼 운반선', '시멘트운반선', 'LNG 운반선', '압항 예선',
       '철강재 운반선', '화객선', '이.접안용 예선'], dtype=object)

In [5]:
len(df_portmis['선박용도'].unique())

23

In [6]:
df_portmis.drop(df_portmis[(df_portmis['선박용도'] == '여객선') | (df_portmis['선박용도'] == '국제카페리') | (df_portmis['선박용도'] == '기타선') ].index, inplace=True)

In [7]:
df_portmis['선박용도'].unique()

array(['견인용예선', '석유제품 운반선', '원유운반선', '일반화물선', '기타 예선', '기타 유조선',
       '산물선(벌크선)', '자동차운반선', '급유선', '관공선', 'LPG 운반선', '풀컨테이너선',
       '세미(혼재)컨테이너선', '케미칼 운반선', '시멘트운반선', 'LNG 운반선', '압항 예선', '철강재 운반선',
       '화객선', '이.접안용 예선'], dtype=object)

### 입출항 필터: 입항/출항 中 출항 삭제

In [8]:
df_portmis['입출'].unique()

array(['출항', '입항'], dtype=object)

In [9]:
df_portmis = df_portmis.drop(index = df_portmis[df_portmis['입출'] == '출항'].index)
df_portmis

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,전출항지,선박용도
97,인천,3FDX9,POS BANGKOK,2022,20,최종,외항,입항,"18,085",2022-11-30 00:36,2022-11-30 13:54,SHANTOU,풀컨테이너선
98,인천,D7SK,코리아비너스,2022,68,최종,내항,입항,"29,543",2022-11-30 08:55,2022-12-01 08:55,여수,석유제품 운반선
100,인천,DSPF9,BONANZA,2022,5,최종,외항,입항,"3,690",2022-11-30 12:50,2022-12-01 06:10,대산,케미칼 운반선
103,인천,C6TM5,MORNING CALM,2022,1,최종,외항,입항,"57,692",2022-11-30 14:05,2022-12-04 10:40,QINGDAO,자동차운반선
104,인천,DSME,우림 7,2022,11,최종,내항,입항,"8,072",2022-11-30 16:05,2022-12-01 14:25,울산,석유제품 운반선
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197,인천,130081,은성호,2022,152,최종,내항,입항,321,2022-12-30 20:50,2022-12-31 14:05,대산,석유제품 운반선
2198,인천,D7QA,거제 코델리아,2022,128,최종,내항,입항,"8,689",2022-12-30 21:00,2022-12-31 10:40,대산,석유제품 운반선
2199,인천,9HA5618,PS AMALFI,2022,1,최종,외항,입항,"60,185",2022-12-30 21:15,2023-01-01 13:12,HONG KONG,석유제품 운반선
2200,인천,171825,백령 153호,2022,47,최종,내항,입항,368,2022-12-30 21:55,2023-01-05 13:25,기타항,일반화물선
2201,인천,870839,선화3호,2022,22,최종,내항,입항,91,2022-12-30 23:40,2023-01-15 06:00,기타항,견인용예선

In [10]:
df_portmis['입출'].unique()

array(['입항'], dtype=object)

### 구분 필터: 최종/최초 中 최초 삭제

In [11]:
df_portmis = df_portmis.drop(index = df_portmis[df_portmis['구분'] == '최초'].index)
df_portmis.reset_index(drop=True, inplace = True)

In [12]:
df_portmis

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,출항일시,전출항지,선박용도
0,인천,3FDX9,POS BANGKOK,2022,20,최종,외항,입항,"18,085",2022-11-30 00:36,2022-11-30 13:54,SHANTOU,풀컨테이너선
1,인천,D7SK,코리아비너스,2022,68,최종,내항,입항,"29,543",2022-11-30 08:55,2022-12-01 08:55,여수,석유제품 운반선
2,인천,DSPF9,BONANZA,2022,5,최종,외항,입항,"3,690",2022-11-30 12:50,2022-12-01 06:10,대산,케미칼 운반선
3,인천,C6TM5,MORNING CALM,2022,1,최종,외항,입항,"57,692",2022-11-30 14:05,2022-12-04 10:40,QINGDAO,자동차운반선
4,인천,DSME,우림 7,2022,11,최종,내항,입항,"8,072",2022-11-30 16:05,2022-12-01 14:25,울산,석유제품 운반선
...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,인천,130081,은성호,2022,152,최종,내항,입항,321,2022-12-30 20:50,2022-12-31 14:05,대산,석유제품 운반선
974,인천,D7QA,거제 코델리아,2022,128,최종,내항,입항,"8,689",2022-12-30 21:00,2022-12-31 10:40,대산,석유제품 운반선
975,인천,9HA5618,PS AMALFI,2022,1,최종,외항,입항,"60,185",2022-12-30 21:15,2023-01-01 13:12,HONG KONG,석유제품 운반선
976,인천,171825,백령 153호,2022,47,최종,내항,입항,368,2022-12-30 21:55,2023-01-05 13:25,기타항,일반화물선
977,인천,870839,선화3호,2022,22,최종,내항,입항,91,2022-12-30 23:40,2023-01-15 06:00,기타항,견인용예선

### 열 삭제: 입항횟수, 입항횟수.1 삭제

In [13]:
df_portmis = df_portmis.drop(['입항횟수', '입항횟수.1'], axis = 1)

In [14]:
df_portmis

,항명,호출부호,선명,구분,외내,입출,총톤수,입항일시,출항일시,전출항지,선박용도
0,인천,3FDX9,POS BANGKOK,최종,외항,입항,"18,085",2022-11-30 00:36,2022-11-30 13:54,SHANTOU,풀컨테이너선
1,인천,D7SK,코리아비너스,최종,내항,입항,"29,543",2022-11-30 08:55,2022-12-01 08:55,여수,석유제품 운반선
2,인천,DSPF9,BONANZA,최종,외항,입항,"3,690",2022-11-30 12:50,2022-12-01 06:10,대산,케미칼 운반선
3,인천,C6TM5,MORNING CALM,최종,외항,입항,"57,692",2022-11-30 14:05,2022-12-04 10:40,QINGDAO,자동차운반선
4,인천,DSME,우림 7,최종,내항,입항,"8,072",2022-11-30 16:05,2022-12-01 14:25,울산,석유제품 운반선
...,...,...,...,...,...,...,...,...,...,...,...
973,인천,130081,은성호,최종,내항,입항,321,2022-12-30 20:50,2022-12-31 14:05,대산,석유제품 운반선
974,인천,D7QA,거제 코델리아,최종,내항,입항,"8,689",2022-12-30 21:00,2022-12-31 10:40,대산,석유제품 운반선
975,인천,9HA5618,PS AMALFI,최종,외항,입항,"60,185",2022-12-30 21:15,2023-01-01 13:12,HONG KONG,석유제품 운반선
976,인천,171825,백령 153호,최종,내항,입항,368,2022-12-30 21:55,2023-01-05 13:25,기타항,일반화물선
977,인천,870839,선화3호,최종,내항,입항,91,2022-12-30 23:40,2023-01-15 06:00,기타항,견인용예선

### mmsi 정보 불러와서 df_ mmsi 만들기
+ 01.20 교수님 확인 위해 수작업. 차주 크롤링 예정

In [42]:
df_mmsi = pd.read_csv("./ModelingDataset/(완)호출부호_mmsi매칭.csv", encoding = 'cp949', index_col=0)

In [43]:
df_mmsi.reset_index(drop = True)

        호출부호         mmsi
0      3FDX9  371369000.0
1       D7SK  441791000.0
2      DSPF9  440918000.0
3      C6TM5  311697000.0
4       DSME  440432000.0
..       ...          ...
973   130081  440061040.0
974     D7QA  440525000.0
975  9HA5618  229869000.0
976   171825          NaN
977   870839          NaN

[978 rows x 2 columns]

#### mmsi 결측치 제거

In [44]:
df_mmsi = df_mmsi.dropna().reset_index(drop=True)

#### mmsi  데이터타입 변경

In [46]:
df_mmsi= df_mmsi.astype({ 'mmsi' : 'int' })
df_mmsi

        호출부호       mmsi
0      3FDX9  371369000
1       D7SK  441791000
2      DSPF9  440918000
3      C6TM5  311697000
4       DSME  440432000
..       ...        ...
892  V7A4986  538009640
893    5LDT2  636021396
894   130081  440061040
895     D7QA  440525000
896  9HA5618  229869000

[897 rows x 2 columns]

### df_mmsi, df_portmis 합치기 => df_ais

In [47]:
df_portmis['mmsi'] = df_mmsi['mmsi']

In [48]:
df_portmis

,항명,호출부호,mmsi,선명,구분,외내,입출,총톤수,입항일시,출항일시,전출항지,선박용도
0,인천,3FDX9,371369000,POS BANGKOK,최종,외항,입항,"18,085",2022-11-30 00:36,2022-11-30 13:54,SHANTOU,풀컨테이너선
1,인천,D7SK,441791000,코리아비너스,최종,내항,입항,"29,543",2022-11-30 08:55,2022-12-01 08:55,여수,석유제품 운반선
2,인천,DSPF9,440918000,BONANZA,최종,외항,입항,"3,690",2022-11-30 12:50,2022-12-01 06:10,대산,케미칼 운반선
3,인천,C6TM5,311697000,MORNING CALM,최종,외항,입항,"57,692",2022-11-30 14:05,2022-12-04 10:40,QINGDAO,자동차운반선
4,인천,DSME,440432000,우림 7,최종,내항,입항,"8,072",2022-11-30 16:05,2022-12-01 14:25,울산,석유제품 운반선
...,...,...,...,...,...,...,...,...,...,...,...,...
892,인천,V7A4986,538009640,KOBE TRADER,최종,외항,입항,"9,944",2022-12-30 19:00,2022-12-31 07:00,SHANTOU,풀컨테이너선
893,인천,5LDT2,636021396,ZIM AUSTRALIA,최종,외항,입항,"10,308",2022-12-30 19:12,2022-12-31 06:06,부산,풀컨테이너선
894,인천,130081,440061040,은성호,최종,내항,입항,321,2022-12-30 20:50,2022-12-31 14:05,대산,석유제품 운반선
895,인천,D7QA,440525000,거제 코델리아,최종,내항,입항,"8,689",2022-12-30 21:00,2022-12-31 10:40,대산,석유제품 운반선
896,인천,9HA5618,229869000,PS AMALFI,최종,외항,입항,"60,185",2022-12-30 21:15,2023-01-01 13:12,HONG KONG,석유제품 운반선

#### df_portmis sort

In [49]:
df_portmis = df_portmis.sort_values(by = ['입항일시', 'mmsi','선박용도'])

#### df_portmis 컬럼순서변경

In [50]:
df_portmis = df_portmis[['항명', '호출부호', 'mmsi', '선명','구분','외내','입출','총톤수','입항일시','출항일시','전출항지','선박용도']]

In [51]:
df_portmis

,항명,호출부호,mmsi,선명,구분,외내,입출,총톤수,입항일시,출항일시,전출항지,선박용도
0,인천,3FDX9,371369000,POS BANGKOK,최종,외항,입항,"18,085",2022-11-30 00:36,2022-11-30 13:54,SHANTOU,풀컨테이너선
1,인천,D7SK,441791000,코리아비너스,최종,내항,입항,"29,543",2022-11-30 08:55,2022-12-01 08:55,여수,석유제품 운반선
2,인천,DSPF9,440918000,BONANZA,최종,외항,입항,"3,690",2022-11-30 12:50,2022-12-01 06:10,대산,케미칼 운반선
3,인천,C6TM5,311697000,MORNING CALM,최종,외항,입항,"57,692",2022-11-30 14:05,2022-12-04 10:40,QINGDAO,자동차운반선
4,인천,DSME,440432000,우림 7,최종,내항,입항,"8,072",2022-11-30 16:05,2022-12-01 14:25,울산,석유제품 운반선
...,...,...,...,...,...,...,...,...,...,...,...,...
892,인천,V7A4986,538009640,KOBE TRADER,최종,외항,입항,"9,944",2022-12-30 19:00,2022-12-31 07:00,SHANTOU,풀컨테이너선
893,인천,5LDT2,636021396,ZIM AUSTRALIA,최종,외항,입항,"10,308",2022-12-30 19:12,2022-12-31 06:06,부산,풀컨테이너선
894,인천,130081,440061040,은성호,최종,내항,입항,321,2022-12-30 20:50,2022-12-31 14:05,대산,석유제품 운반선
895,인천,D7QA,440525000,거제 코델리아,최종,내항,입항,"8,689",2022-12-30 21:00,2022-12-31 10:40,대산,석유제품 운반선
896,인천,9HA5618,229869000,PS AMALFI,최종,외항,입항,"60,185",2022-12-30 21:15,2023-01-01 13:12,HONG KONG,석유제품 운반선

### df_portmis = df_mmsi + df_portmis // Null값 제거

In [52]:
df_portmis.isnull().sum()

항명      0
호출부호    0
mmsi    0
선명      0
구분      0
외내      0
입출      0
총톤수     0
입항일시    0
출항일시    0
전출항지    0
선박용도    0
dtype: int64

In [53]:
df_portmis = df_portmis.dropna().reset_index(drop=True)

### port-mis 입출항정보 csv저장

In [54]:
df_portmis.to_csv("C:/Users/user/Desktop/항만운영정보시스템data/ModelingDataset/portmis.csv", sep = ',',encoding = 'cp949')

In [55]:
pd.read_csv('C:/Users/user/Desktop/항만운영정보시스템data/ModelingDataset/portmis.csv', encoding = 'cp949', index_col = 0)

,항명,호출부호,mmsi,선명,구분,외내,입출,총톤수,입항일시,출항일시,전출항지,선박용도
0,인천,3FDX9,371369000,POS BANGKOK,최종,외항,입항,"18,085",2022-11-30 00:36,2022-11-30 13:54,SHANTOU,풀컨테이너선
1,인천,D7SK,441791000,코리아비너스,최종,내항,입항,"29,543",2022-11-30 08:55,2022-12-01 08:55,여수,석유제품 운반선
2,인천,DSPF9,440918000,BONANZA,최종,외항,입항,"3,690",2022-11-30 12:50,2022-12-01 06:10,대산,케미칼 운반선
3,인천,C6TM5,311697000,MORNING CALM,최종,외항,입항,"57,692",2022-11-30 14:05,2022-12-04 10:40,QINGDAO,자동차운반선
4,인천,DSME,440432000,우림 7,최종,내항,입항,"8,072",2022-11-30 16:05,2022-12-01 14:25,울산,석유제품 운반선
...,...,...,...,...,...,...,...,...,...,...,...,...
892,인천,V7A4986,538009640,KOBE TRADER,최종,외항,입항,"9,944",2022-12-30 19:00,2022-12-31 07:00,SHANTOU,풀컨테이너선
893,인천,5LDT2,636021396,ZIM AUSTRALIA,최종,외항,입항,"10,308",2022-12-30 19:12,2022-12-31 06:06,부산,풀컨테이너선
894,인천,130081,440061040,은성호,최종,내항,입항,321,2022-12-30 20:50,2022-12-31 14:05,대산,석유제품 운반선
895,인천,D7QA,440525000,거제 코델리아,최종,내항,입항,"8,689",2022-12-30 21:00,2022-12-31 10:40,대산,석유제품 운반선
896,인천,9HA5618,229869000,PS AMALFI,최종,외항,입항,"60,185",2022-12-30 21:15,2023-01-01 13:12,HONG KONG,석유제품 운반선